{
  "openapi": "3.0.2",
  "info": {
    "title": "Search Plugin",
    "description": "Use this plugin whenever users want to get content from website or provided an URL or want to get some latest info. The plugin enables you to fetch and return the content of a provided URL, allowing the model to access and utilize information from the internet.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://search.aireview.tech/",
      "description": "Prod environment"
    }
  ],
  "paths": {
    "/api/search": {
      "get": {
        "summary": "Search",
        "description": "You should generate URLs based on user input, such as creating a Google search URL (https://www.google.com/search?q={keyword}) to gather more information and assist users more effectively. For example, when a user asks for the Bitcoin price, you should send a HTTP request to https://coinmarketcap.com/currencies/bitcoin/ to retrieve the current price. If there is a URL, just send it.Only send URL link to this plugin.",
        "operationId": "search_api_search_get",
        "parameters": [
          {
            "description": "request link",
            "required": true,
            "schema": {
              "title": "Link",
              "type": "string",
              "description": "request link"
            },
            "name": "link",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Search Api Search Get",
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "title": "HTTPValidationError",
        "type": "object",
        "properties": {
          "detail": {
            "title": "Detail",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "title": "ValidationError",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "type": "object",
        "properties": {
          "loc": {
            "title": "Location",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          "msg": {
            "title": "Message",
            "type": "string"
          },
          "type": {
            "title": "Error Type",
            "type": "string"
          }
        }
      }
    }
  }
}